# Default ignored files
/../../../../../../3º Año/1º Semestre/IS2/Practicas Listas/Kata1/.idea/shelf/
/../../../../../../3º Año/1º Semestre/IS2/Practicas Listas/Kata1/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../3º Año/1º Semestre/IS2/Practicas Listas/Kata1/.idea/httpRequests/
# Environment-dependent path to Maven home directory
/../../../../../../3º Año/1º Semestre/IS2/Practicas Listas/Kata1/.idea/mavenHomeManager.xml
# Datasource local storage ignored files
/../../../../../../3º Año/1º Semestre/IS2/Practicas Listas/Kata1/.idea/dataSources/
/../../../../../../3º Año/1º Semestre/IS2/Practicas Listas/Kata1/.idea/dataSources.local.xml
